# ---- PostgreSQL ----
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=openbi
POSTGRES_USER=openbi
POSTGRES_PASSWORD=openbi

# ---- Derived ----
DATABASE_URL=postgresql+psycopg2://openbi:openbi@localhost:5432/openbi

# ---- App ----
ENV=dev
LOG_LEVEL=INFO

# ---- Superset ----
SUPERSET_SECRET_KEY=vKjwxKRyegK-OiNZ9Ltv1Ogtu6KzWkqZhBIbSE8wEmE30hQMp8HnAN2A
SUPERSET_PORT=8088
