# ---- Core data ----
pandas>=2.0
numpy>=1.24
sqlalchemy>=2.0
psycopg2-binary>=2.9
python-dotenv>=1.0

# ---- Notebooks ----
jupyter>=1.0
ipykernel>=6.0
matplotlib>=3.7
seaborn>=0.12

# ---- serialization ----
joblib>=1.3
